# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build directory
dist/
build/

# Secrets and environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker files
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.*.yml
docker-compose.*.yaml
docker-compose.override.yml
docker-compose.override.yaml
Dockerfile.*

# Umbrel specifics
umbrel/*
!umbrel/package.json
!umbrel/Dockerfile
!umbrel/docker-compose.yml

# Miscellaneous
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# Temporary files
tmp/
temp/
*.tmp
*.temp
*.swp
*.swo

# Coverage directory used by testing tools
coverage/

# npm package lock file
package-lock.json
